@font-face {
    font-family: "AM";
    src: url("../assets/fonts/AzeretMono-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
    font-style: normal;
}